<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Used to photograph receipts for expense tracking</string>
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Used to track trip distance via GPS</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Used to track trip distance via GPS</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used to attach receipt photos to expenses</string>
</dict>
</plist>
